* {
	margin: 0;
	top: 0;
	font-family: StudioPro, sans-serif;
}

body {
	overflow: hidden;
}

@font-face {
	font-family: "StudioPro";
	src: url('StudioPro-Regular.ttf') format('truetype');
}

a.header {
	z-index: 2;
	position: fixed;
	font-size: 60pt;
	text-decoration: none;
	color: white;
	mix-blend-mode: difference;
	margin-top: -10px;
	margin-left: 4px;
}

#logo{
	z-index: 2;
	margin-top: 12px;
	position: fixed;
	mix-blend-mode: difference;
	width: 65px;
	left: 122px;
}

#logo:hover {
	animation: animate 1.5s linear infinite;
}

@keyframes animate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

video.bg {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.contenuti {
	z-index: 1;
	top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
}

.corrente {
	font-size: 14pt;
	color: black;
	padding-top: 350px;
	width: 35%;
	padding-left: 10px;
}

.libro {
	padding-top: 20px;
}

img.imgn {
	width: 100%;
	display: block;
}

img.imgn:hover {
	cursor: url(img/point.svg), auto;
}

::-webkit-scrollbar {
    display: none;
}

@media all and (max-width: 1500px){
	.corrente{
		width: 50%;
	}
}


@media all and (max-width: 700px){

.corrente{
	font-size: 12pt;
	width: 95%;
}

.colophon div {
	padding-right: 50px;
	padding-bottom: 50px;
}

#logo {
	animation: animate 2.2s linear infinite;
}

@keyframes animate{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
}





